$color-white: white;

footer{
    background-color:rgb(53 53 53);
    & h2{
        margin: 0;
        padding: 20px 0 0 0;
        font-weight: 300;
        text-indent: 7%;
        font-size: 1rem;
        font-family: "Shrikhand", cursive;
        color: $color-white;
    }
    .pied{
        display: flex;
        flex-direction: column;
        padding: 20px;
         &_lien
           {text-decoration: none;
            color:$color-white;
            padding: 7px;
            font-weight: 500;
            font-size: 15px;
            &--icone{
                padding-right: 10px;
            }
            &.contact{
                text-decoration: none;
                &:hover{
                    color: blue;
                }
            }
        }   
    }
  
}

