/*localisation*/
.cherche{
    background-color:#e7e7e7 ;
   & .local {
        display: flex;
        justify-content: center;
        align-items: center;

        input {
            text-align: center;
            background-color: #e7e7e7;
            font-size: 17px;
            height: 57px;
            width: 43%;
            border: none;
            font-weight: 700;

        }   
        .fontAwesome{
            font-family: 'Helvetica', "FontAwesome", sans-serif;
            color:black;
            
        }   
        }
}