@use "../utiles/mixins.scss";
$background-color-6: #f6f6f6;
$couleur-tertiaire: #99E2D0;
$font-size-1: 0.95rem 1rem 1.15rem 1.3rem 1.5rem 1.48rem  ;
$font-size-2: 14px 15px 16px 17px 18px 19px 20px 23px 25px 27px;

/*restaurant*/
.restaurants {
    background-color: $background-color-6;
    height: 1262px;
    margin-top: 60px;
    margin-bottom: -62px;
    @include mixins.desktop {
        height: 742px;
        .flex
       {
        display: flex;
       justify-content: space-evenly;
        width: 100%;
        padding-left: 20px;
        &_1, &_2{
            width: 90%;
        }
      
    }
    }

    h2{
        padding: 50px 0 5px 20px;
        margin: 0;
       
    }

.carte {
    margin: 20px;
    border-radius: 20px;
    position: relative;
    box-shadow: 0px 5px 10px 0px #e9e9e9;
    @include mixins.desktop {
        width: 90%;
    
    }
    transform: scale(1);
    opacity: 1;
    &:hover {
        transition: 200ms;
            transform: scale(1.03);
            box-shadow: 0px 5px 10px 0px rgb(192, 150, 192);
        }
    p {
        margin: 2px 0 15px 14px;
        color: black;
        font-size: nth($font-size-2, 4);
        font-family: "Roboto", cursive;
    }
    
    h3{
        margin: 8px 0 5px 14px;
        color: black;
       
    } 

    &_lien {
        text-decoration: none;

        &_img {
            width: 100%;
            border-radius: 20px 20px 0 0;
            height: 168px;
            object-fit: cover;
            object-position: bottom;
            &.stil{
                object-position:50% 60%;
                height: 172px;
            }
          
        }

        &_nouveau {
            position: absolute;
            left: 71%;
            top: 14px;
            border: 1px solid $couleur-tertiaire;
            background-color: $couleur-tertiaire;
            padding: 6px;
            width: 25%;
            text-align: center;
            font-size: nth($font-size-2, 1);
            color: #088c6c;
            font-weight: bold;

        }

        &_coeur {
@extend %flex-betwen;
            align-items: center;
        }
        &--selection{
            display: none; 
            padding: 20px;
            font-size: nth($font-size-2, 9);
            cursor: pointer;
    
            &:checked + .coeur .coeur--vide{
                animation: efface 0.5s linear forwards;
            }
            &:checked + .coeur .coeur_filtre--plein{   
                opacity: 1;
            }
            &:checked + .coeur .coeur_filtre--plein{
                opacity: 1;
                z-index: 1;
                animation: grandi-bat 1.8s linear forwards;
            }
          
          
            }
    }
    }
  

}

/*animation coeur */

.coeur{

    @include mixins.coeur;
}









   
    
   
    