@use "../utiles/mixins.scss";

/*restaurant*/
.restaurants {
    background-color: #f6f6f6;
    height: 1262px;
    margin-top: 60px;
    margin-bottom: -62px;
    @media (min-width:992px) {
        height: 742px;
        .flex
       {
        display: flex;
       justify-content: space-evenly;
        width: 100%;
        padding-left: 20px;
        &_1{
            width: 90%;
            

        }
        &_2{
            width: 90%; 
        }
    }
    }

    .titre_réstaurants {
        padding: 50px 0 5px 20px;
        margin: 0;
        font-size: 1.3rem;
        font-weight: 800;
        font-family: " Shrikhand", sans-serif;
    }

.carte {
    margin: 20px;
    border-radius: 20px;
    position: relative;
    box-shadow: 0px 5px 10px 0px #e9e9e9;
    @media (min-width:992px) {
        width: 90%;
    
    }
    transform: scale(1);
    opacity: 1;
    &:hover {
        transition: 200ms;
            transform: scale(1.03);
            box-shadow: 0px 5px 10px 0px rgb(192, 150, 192);
        }
    p {
        margin: 2px 0 15px 14px;
        color: black;
        font-size: 17px;
        font-family: "Roboto", cursive;
    }
    
    h3{
        margin: 8px 0 5px 14px;
        color: black;
       
    } 

    &_lien {
        text-decoration: none;

        &_img {
            width: 100%;
            border-radius: 20px 20px 0 0;
            height: 168px;
            object-fit: cover;
            object-position: bottom;
            &.stil{
                object-position: center;
            }
        }

        &_nouveau {
            position: absolute;
            left: 71%;
            top: 14px;
            border: 1px solid #99e2d0;
            background-color: #99e2d0;
            padding: 6px;
            width: 25%;
            text-align: center;
            font-size: 14px;
            color: #088c6c;
            font-weight: bold;

        }

        &_coeur {

            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &--selection{
            display: none; 
            padding: 20px;
            font-size: 25px;
            cursor: pointer;
    
            &:checked + .coeur .coeur--vide{
                animation: efface 0.5s linear forwards;
            }
            &:checked + .coeur .coeur_filtre--plein{   
                opacity: 1;
            }
            &:checked + .coeur .coeur_filtre--plein{
                opacity: 1;
                z-index: 1;
                animation: grandi-bat 1.8s linear forwards;
            }
          
          
            }
    }
    }
  

}

/*animation coeur */

.coeur{

    @include mixins.coeur;
}
@keyframes efface{
    90%{opacity: 1;}
    100%{opacity: 0;}
}
@keyframes grandi-bat{
    0%{transform: scale3d(0, 0, 1);}
    33%{transform: scale3d(1, 1, 1);} 
    38%{transform: scale3d(1, 1, 1);} 
    43%{transform: scale3d(1, 1, 1);} 
    48%{transform: scale3d(1, 1, 1);}
    53%{transform: scale3d(1.4, 1.4, 1);}
    58%{transform: scale3d(1.05, 1.05, 1);}
    63%{transform: scale3d(1.2, 1.2, 1);}
    68%{transform: scale3d(1, 1, 1);}
    73%{transform: scale3d(1, 1, 1);}
    78%{transform: scale3d(1, 1, 1);}
    83%{transform: scale3d(1.4, 1.4, 1);}
    88%{transform: scale3d(1.05, 1.05, 1);}
    95%{transform: scale3d(1.2, 1.2, 1);}
    100%{transform: scale3d(1, 1, 1);}
}



.carte a .stil{
    object-position: center;
}







   
    
   
    