@charset "UTF-8";
*,
::before,
::after {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #FAFAFA;
  font-family: "Roboto", sans-serif;
}

p {
  font-family: "Roboto", cursive;
}

aside {
  margin: 20px 0 0 18px;
}

/*animation coeur */
@keyframes efface {
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes grandi-bat {
  0% {
    transform: scale3d(0, 0, 1);
  }
  33% {
    transform: scale3d(1, 1, 1);
  }
  38% {
    transform: scale3d(1, 1, 1);
  }
  43% {
    transform: scale3d(1, 1, 1);
  }
  48% {
    transform: scale3d(1, 1, 1);
  }
  53% {
    transform: scale3d(1.4, 1.4, 1);
  }
  58% {
    transform: scale3d(1.05, 1.05, 1);
  }
  63% {
    transform: scale3d(1.2, 1.2, 1);
  }
  68% {
    transform: scale3d(1, 1, 1);
  }
  73% {
    transform: scale3d(1, 1, 1);
  }
  78% {
    transform: scale3d(1, 1, 1);
  }
  83% {
    transform: scale3d(1.4, 1.4, 1);
  }
  88% {
    transform: scale3d(1.05, 1.05, 1);
  }
  95% {
    transform: scale3d(1.2, 1.2, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}
/*animation chek retation*/
@keyframes rotate {
  0% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(0);
  }
}
/*animation carte*/
@keyframes itemAppear {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
#delay-0 {
  animation-delay: 0ms;
}

#delay-1 {
  animation-delay: 100ms;
}

#delay-2 {
  animation-delay: 150ms;
}

#delay-3 {
  animation-delay: 300ms;
}

#delay-4 {
  animation-delay: 350ms;
}

#delay-5 {
  animation-delay: 400ms;
}

#delay-6 {
  animation-delay: 450ms;
}

#delay-7 {
  animation-delay: 600ms;
}

#delay-8 {
  animation-delay: 650ms;
}

.loader {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: hsla(0deg, 0%, 100%, 0.9);
  animation: loader 0.01s;
  animation-delay: 2s;
  animation-fill-mode: both;
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loader_container {
  display: flex;
  width: 5rem;
  justify-content: space-between;
}
.loader_container .loader_point {
  height: 1rem;
  width: 1rem;
  border-radius: 1rem;
  animation: jump 1s;
  animation-iteration-count: 1;
  background-color: #9356DC;
}
.loader_container .point-1 {
  animation-delay: 100ms;
}
.loader_container .point-2 {
  animation-delay: 200ms;
}
.loader_container .point-3 {
  animation-delay: 300ms;
}

@keyframes loader {
  100% {
    opacity: 0;
    z-index: -10;
  }
}
@keyframes jump {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(0.5rem);
  }
  75% {
    transform: translateY(-0.5rem);
  }
  100% {
    transform: translateY(0);
  }
}
footer {
  background-color: rgb(53, 53, 53);
}
footer h2 {
  margin: 0;
  padding: 20px 0 0 0;
  font-weight: 400;
  text-indent: 7%;
  font-size: 1.15rem;
  font-family: "Shrikhand", cursive;
  color: white;
}
footer .pied {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
footer .pied_lien {
  text-decoration: none;
  color: white;
  padding: 7px;
  font-weight: 400;
  font-size: 15px;
}
footer .pied_lien--icone {
  padding-right: 10px;
}
footer .pied_lien.contact {
  text-decoration: none;
}
footer .pied_lien.contact:hover {
  color: blue;
}

/*header*/
header {
  /*header pages*/
}
header p {
  margin: 0px;
  text-align: center;
  box-shadow: 0 3px 3px 1px rgb(161, 157, 157);
  position: relative;
  font-family: " Shrikhand", sans-serif;
}
header p .lien_fléche {
  font-size: 25px;
  color: initial;
  position: absolute;
  left: 20px;
  top: 35px;
}
header p img {
  height: 33px;
  margin-top: 30px;
  margin-bottom: 15px;
}

/*animation coeur */
/*restaurant*/
.restaurants {
  background-color: #f6f6f6;
  height: 1262px;
  margin-top: 60px;
  margin-bottom: -62px;
}
@media (min-width: 992px) {
  .restaurants {
    height: 742px;
  }
  .restaurants .flex {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding-left: 20px;
  }
  .restaurants .flex_1 {
    width: 90%;
  }
  .restaurants .flex_2 {
    width: 90%;
  }
}
.restaurants .titre_réstaurants {
  padding: 50px 0 5px 20px;
  margin: 0;
  font-size: 1.3rem;
  font-weight: 800;
  font-family: " Shrikhand", sans-serif;
}
.restaurants .carte {
  margin: 20px;
  border-radius: 20px;
  position: relative;
  box-shadow: 0px 5px 10px 0px #e9e9e9;
  transform: scale(1);
  opacity: 1;
}
@media (min-width: 992px) {
  .restaurants .carte {
    width: 90%;
  }
}
.restaurants .carte:hover {
  transition: 200ms;
  transform: scale(1.03);
  box-shadow: 0px 5px 10px 0px rgb(192, 150, 192);
}
.restaurants .carte p {
  margin: 2px 0 15px 14px;
  color: black;
  font-size: 17px;
  font-family: "Roboto", cursive;
}
.restaurants .carte h3 {
  margin: 8px 0 5px 14px;
  color: black;
}
.restaurants .carte_lien {
  text-decoration: none;
}
.restaurants .carte_lien_img {
  width: 100%;
  border-radius: 20px 20px 0 0;
  height: 168px;
  object-fit: cover;
  object-position: bottom;
}
.restaurants .carte_lien_img.stil {
  object-position: center;
}
.restaurants .carte_lien_nouveau {
  position: absolute;
  left: 71%;
  top: 14px;
  border: 1px solid #99e2d0;
  background-color: #99e2d0;
  padding: 6px;
  width: 25%;
  text-align: center;
  font-size: 14px;
  color: #088c6c;
  font-weight: bold;
}
.restaurants .carte_lien_coeur {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.restaurants .carte_lien--selection {
  display: none;
  padding: 20px;
  font-size: 25px;
  cursor: pointer;
}
.restaurants .carte_lien--selection:checked + .coeur .coeur--vide {
  animation: efface 0.5s linear forwards;
}
.restaurants .carte_lien--selection:checked + .coeur .coeur_filtre--plein {
  opacity: 1;
}
.restaurants .carte_lien--selection:checked + .coeur .coeur_filtre--plein {
  opacity: 1;
  z-index: 1;
  animation: grandi-bat 1.8s linear forwards;
}

/*animation coeur */
.coeur {
  position: absolute;
  right: 24px;
  bottom: 20px;
  /* coeur vide */
  /* zone apparition du coeur plein */
}
.coeur:hover {
  cursor: grab;
}
.coeur--vide {
  padding: 13px 12.5px 12px 12.8px;
  font-size: 1.48rem;
}
.coeur_filtre {
  position: absolute;
  right: 0px;
  top: 0px;
  /* coeur plein */
}
.coeur_filtre--plein {
  padding: 12px 11px 12px 13px;
  font-size: 1.5rem;
  color: transparent;
  opacity: 0;
  transform-origin: 50% 50%;
  transform: scale(0);
  background: linear-gradient(200deg, #9356DC 35%, #FF79DA 65%);
  background-clip: text;
  -webkit-background-clip: text;
}

@keyframes efface {
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes grandi-bat {
  0% {
    transform: scale3d(0, 0, 1);
  }
  33% {
    transform: scale3d(1, 1, 1);
  }
  38% {
    transform: scale3d(1, 1, 1);
  }
  43% {
    transform: scale3d(1, 1, 1);
  }
  48% {
    transform: scale3d(1, 1, 1);
  }
  53% {
    transform: scale3d(1.4, 1.4, 1);
  }
  58% {
    transform: scale3d(1.05, 1.05, 1);
  }
  63% {
    transform: scale3d(1.2, 1.2, 1);
  }
  68% {
    transform: scale3d(1, 1, 1);
  }
  73% {
    transform: scale3d(1, 1, 1);
  }
  78% {
    transform: scale3d(1, 1, 1);
  }
  83% {
    transform: scale3d(1.4, 1.4, 1);
  }
  88% {
    transform: scale3d(1.05, 1.05, 1);
  }
  95% {
    transform: scale3d(1.2, 1.2, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}
.carte a .stil {
  object-position: center;
}

/*localisation*/
.cherche {
  background-color: #e7e7e7;
}
.cherche .local input {
  text-align: center;
  background-color: #e7e7e7;
  font-size: 17px;
  height: 57px;
  width: 100%;
  border: none;
  font-weight: 700;
}
.cherche .local .fontAwesome {
  font-family: "Helvetica", "FontAwesome", sans-serif;
  color: black;
}

/*résérvation*/
.résérvation {
  padding: 2rem;
  text-align: center;
  background-color: #f6f6f6;
}
.résérvation h1 {
  margin: 0;
  font-weight: 800;
  font-size: 1.3rem;
}
.résérvation p {
  font-weight: 400;
  font-size: 1rem;
  color: #8f9195;
}

/*explorer*/
.recherche--bouton {
  height: 50px;
  width: 220px;
  display: block;
  margin: 35px auto;
  border: none;
  border-radius: 25px;
  font-size: 0.95rem;
  font-weight: 500;
  box-shadow: 0px 5px 10px 0px #c6c6c6;
  background: linear-gradient(178deg, #FF79DA, #9356DC);
  color: #FFF;
  transition: 200ms;
  cursor: pointer;
}
.recherche--bouton:hover {
  transform: scale(1.03);
  opacity: 0.9;
}

/*fonctionement*/
.fonction {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
@media (min-width: 992px) {
  .fonction {
    flex-direction: row;
    width: 100%;
    height: 126px;
  }
}
.fonction .titre_fonction {
  font-size: 1.3rem;
  font-weight: 800;
  font-family: " Shrikhand", sans-serif;
}
.fonction .bouton {
  width: 91%;
  height: 75px;
  position: relative;
  margin: 10px 0 10px 12px;
  padding: 0;
  border: none;
  border-radius: 20px;
  box-shadow: 0px 5px 10px 0px #e8e8e8;
  background-color: #f4f4f5;
  font-size: 1rem;
  font-weight: 500;
  text-align: start;
  color: #000;
  font-family: "Roboto", sans-serif;
  transition: 200ms;
}
@media (min-width: 992px) {
  .fonction .bouton {
    width: 28%;
    flex-direction: row;
  }
}
.fonction .bouton:hover {
  transform: scale(1.03);
  opacity: 0.9;
  background-color: #f2eafb;
}
.fonction .bouton:hover .fas {
  color: #9356DC;
}
.fonction .font {
  font-weight: 800;
}
.fonction .numero {
  border-radius: 50%;
  border: 1px solid #9356DC;
  background-color: #9356DC;
  padding: 3px 7.5px 2px 6.5px;
  color: white;
  position: absolute;
  left: -11px;
  top: 20px;
}
.fonction .fas {
  text-align: end;
  width: 35px;
  margin-right: 21px;
  margin-left: 10px;
  color: grey;
  font-size: 18px;
}

.imgfont {
  width: 100%;
  position: relative;
}
@media (min-width: 992px) {
  .imgfont {
    object-fit: cover;
    height: 65vh;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .imgfont {
    height: 60vh;
    object-fit: cover;
  }
}

.menu {
  position: relative;
  width: 100%;
  margin-top: -52px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  border-radius: 50px 50px 0 0;
  background-color: #f6f6f6;
}
.menu .commander {
  margin-bottom: 28px;
  margin-top: -22px;
}
.menu button {
  height: 50px;
  width: 220px;
  display: block;
  margin: 35px auto;
  border: none;
  border-radius: 25px;
  font-size: 0.95rem;
  font-weight: 500;
  box-shadow: 0px 5px 10px 0px #c6c6c6;
  background: linear-gradient(178deg, #FF79DA, #9356DC);
  color: #FFF;
  transition: 200ms;
  cursor: pointer;
  width: 165px;
}
.menu button:hover {
  transform: scale(1.03);
  opacity: 0.9;
}

.menu_1 {
  position: relative;
}
.menu_1_titre {
  font-family: "Shrikhand", cursive;
  font-size: 27px;
  margin: 27px;
}
.menu_1--selection {
  display: none;
  padding: 20px;
  font-size: 25px;
  cursor: pointer;
}
.menu_1--selection:checked + .coeur .coeur--vide {
  animation: efface 0.5s linear forwards;
}
.menu_1--selection:checked + .coeur .coeur_filtre--plein {
  opacity: 1;
}
.menu_1--selection:checked + .coeur .coeur_filtre--plein {
  opacity: 1;
  z-index: 1;
  animation: grandi-bat 1.8s linear forwards;
}
.menu_1_coeur {
  /*animation coeur */
}
.menu_1_coeur .coeur {
  position: absolute;
  right: 24px;
  bottom: 20px;
  /* coeur vide */
  /* zone apparition du coeur plein */
}
.menu_1_coeur .coeur:hover {
  cursor: grab;
}
.menu_1_coeur .coeur--vide {
  padding: 13px 12.5px 12px 12.8px;
  font-size: 1.48rem;
}
.menu_1_coeur .coeur_filtre {
  position: absolute;
  right: 0px;
  top: 0px;
  /* coeur plein */
}
.menu_1_coeur .coeur_filtre--plein {
  padding: 12px 11px 12px 13px;
  font-size: 1.5rem;
  color: transparent;
  opacity: 0;
  transform-origin: 50% 50%;
  transform: scale(0);
  background: linear-gradient(200deg, #9356DC 35%, #FF79DA 65%);
  background-clip: text;
  -webkit-background-clip: text;
}
@keyframes efface {
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes grandi-bat {
  0% {
    transform: scale3d(0, 0, 1);
  }
  33% {
    transform: scale3d(1, 1, 1);
  }
  38% {
    transform: scale3d(1, 1, 1);
  }
  43% {
    transform: scale3d(1, 1, 1);
  }
  48% {
    transform: scale3d(1, 1, 1);
  }
  53% {
    transform: scale3d(1.4, 1.4, 1);
  }
  58% {
    transform: scale3d(1.05, 1.05, 1);
  }
  63% {
    transform: scale3d(1.2, 1.2, 1);
  }
  68% {
    transform: scale3d(1, 1, 1);
  }
  73% {
    transform: scale3d(1, 1, 1);
  }
  78% {
    transform: scale3d(1, 1, 1);
  }
  83% {
    transform: scale3d(1.4, 1.4, 1);
  }
  88% {
    transform: scale3d(1.05, 1.05, 1);
  }
  95% {
    transform: scale3d(1.2, 1.2, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}

.menu_resto {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
@media (min-width: 992px) {
  .menu_resto {
    flex-direction: row;
  }
}
.menu_resto_entree {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-bottom: 42px;
}
@media (min-width: 992px) {
  .menu_resto_entree {
    width: 30%;
  }
}
.menu_resto_entree span {
  margin-left: 16px;
  position: relative;
  margin-bottom: 10px;
}
.menu_resto_entree span:after {
  content: "";
  width: 42px;
  height: 3px;
  background: #99E2D0;
  position: absolute;
  z-index: 20;
  left: 0px;
  bottom: -8px;
}
.menu_resto_entree--carte {
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 13px 10px 0px 10px;
  height: 64px;
  background-color: white;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  box-shadow: 0px 5px 10px 0px #c6c6c6;
  animation: itemAppear 3s;
  animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
  animation-fill-mode: both;
  transform: scale(0);
}
.menu_resto_entree--carte .premier-plat {
  height: 87px;
}
.menu_resto_entree--carte:hover {
  cursor: pointer;
}
.menu_resto_entree--carte:hover .prix {
  padding-right: 13px;
}
.menu_resto_entree--carte:hover .chek {
  flex-shrink: 0;
  padding: 19px 47px 20px 20px;
}
.menu_resto_entree--carte:hover .chek i {
  animation: rotate 0.5s ease-in-out;
}
@keyframes rotate {
  0% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(0);
  }
}
.menu_resto_entree--carte .prix_chek {
  display: flex;
  height: 100%;
}
.menu_resto_entree--carte .prix {
  position: relative;
  padding: 34px 9px 10px;
  padding-right: 19px;
  padding-left: 9px;
}
.menu_resto_entree--carte .chek {
  transition: padding 0.5s;
  margin-right: -24px;
  flex-shrink: 0;
  height: 100%;
  border-radius: 0 15px 15px 0;
  background-color: #99E2D0;
}
.menu_resto_entree--carte .chek i {
  left: 20px;
  top: 20px;
  color: white;
  font-size: 23px;
}
.menu_resto_entree--carte .discription {
  padding: 9px 0px 10px 16px;
  overflow: hidden;
}
.menu_resto_entree--carte .discription h3,
.menu_resto_entree--carte .discription p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0px;
}
.menu_resto_plat {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-bottom: 42px;
}
@media (min-width: 992px) {
  .menu_resto_plat {
    width: 30%;
  }
}
.menu_resto_plat span {
  margin-left: 16px;
  position: relative;
  margin-bottom: 10px;
}
.menu_resto_plat span:after {
  content: "";
  width: 42px;
  height: 3px;
  background: #99E2D0;
  position: absolute;
  z-index: 20;
  left: 0px;
  bottom: -8px;
}
.menu_resto_plat--carte {
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 13px 10px 0px 10px;
  height: 64px;
  background-color: white;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  box-shadow: 0px 5px 10px 0px #c6c6c6;
  animation: itemAppear 3s;
  animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
  animation-fill-mode: both;
  transform: scale(0);
}
.menu_resto_plat--carte .premier-plat {
  height: 87px;
}
.menu_resto_plat--carte:hover {
  cursor: pointer;
}
.menu_resto_plat--carte:hover .prix {
  padding-right: 13px;
}
.menu_resto_plat--carte:hover .chek {
  flex-shrink: 0;
  padding: 19px 47px 20px 20px;
}
.menu_resto_plat--carte:hover .chek i {
  animation: rotate 0.5s ease-in-out;
}
@keyframes rotate {
  0% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(0);
  }
}
.menu_resto_plat--carte .prix_chek {
  display: flex;
  height: 100%;
}
.menu_resto_plat--carte .prix {
  position: relative;
  padding: 34px 9px 10px;
  padding-right: 19px;
  padding-left: 9px;
}
.menu_resto_plat--carte .chek {
  transition: padding 0.5s;
  margin-right: -24px;
  flex-shrink: 0;
  height: 100%;
  border-radius: 0 15px 15px 0;
  background-color: #99E2D0;
}
.menu_resto_plat--carte .chek i {
  left: 20px;
  top: 20px;
  color: white;
  font-size: 23px;
}
.menu_resto_plat--carte .discription {
  padding: 9px 0px 10px 16px;
  overflow: hidden;
}
.menu_resto_plat--carte .discription h3,
.menu_resto_plat--carte .discription p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0px;
}
.menu_resto_desserts {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-bottom: 42px;
}
@media (min-width: 992px) {
  .menu_resto_desserts {
    width: 30%;
  }
}
.menu_resto_desserts span {
  margin-left: 16px;
  position: relative;
  margin-bottom: 10px;
}
.menu_resto_desserts span:after {
  content: "";
  width: 42px;
  height: 3px;
  background: #99E2D0;
  position: absolute;
  z-index: 20;
  left: 0px;
  bottom: -8px;
}
.menu_resto_desserts--carte {
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 13px 10px 0px 10px;
  height: 64px;
  background-color: white;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  box-shadow: 0px 5px 10px 0px #c6c6c6;
  animation: itemAppear 3s;
  animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
  animation-fill-mode: both;
  transform: scale(0);
}
.menu_resto_desserts--carte .premier-plat {
  height: 87px;
}
.menu_resto_desserts--carte:hover {
  cursor: pointer;
}
.menu_resto_desserts--carte:hover .prix {
  padding-right: 13px;
}
.menu_resto_desserts--carte:hover .chek {
  flex-shrink: 0;
  padding: 19px 47px 20px 20px;
}
.menu_resto_desserts--carte:hover .chek i {
  animation: rotate 0.5s ease-in-out;
}
@keyframes rotate {
  0% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(0);
  }
}
.menu_resto_desserts--carte .prix_chek {
  display: flex;
  height: 100%;
}
.menu_resto_desserts--carte .prix {
  position: relative;
  padding: 34px 9px 10px;
  padding-right: 19px;
  padding-left: 9px;
}
.menu_resto_desserts--carte .chek {
  transition: padding 0.5s;
  margin-right: -24px;
  flex-shrink: 0;
  height: 100%;
  border-radius: 0 15px 15px 0;
  background-color: #99E2D0;
}
.menu_resto_desserts--carte .chek i {
  left: 20px;
  top: 20px;
  color: white;
  font-size: 23px;
}
.menu_resto_desserts--carte .discription {
  padding: 9px 0px 10px 16px;
  overflow: hidden;
}
.menu_resto_desserts--carte .discription h3,
.menu_resto_desserts--carte .discription p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0px;
}

.le-délice #delay-4 {
  height: 87px;
  padding: 0;
}
.le-délice #delay-4 .prix {
  padding: 56px 16px 10px;
}

.la-note .imgfont {
  object-fit: cover;
  height: 41vh;
}

.footer_menu {
  width: 100%;
  font-size: 20px;
}

/*bases*/
/*layout*/
/*component*/
/*utiles*/

/*# sourceMappingURL=style.css.map */
