

*,
::before,
::after {
  box-sizing: border-box;
}
body{
 
  padding:0;
  margin:0;  
  box-sizing: border-box;
  background-color: #FAFAFA;
  font-family: 'Roboto', sans-serif;
  
 
 
}

p{
  font-family: "Roboto", cursive;
}



aside {
  margin: 20px 0 0 18px
}