$background-color-4: #FAFAFA;
$font-size-1: 0.95rem 1rem 1.15rem 1.3rem 1.5rem 1.48rem  ;
$color-white: white;


*,
::before,
::after {
  box-sizing: border-box;
}
body{
 
  padding:0;
  margin:0;  
  box-sizing: border-box;
  background-color: $background-color-4;
  font-family: 'Roboto', sans-serif;
  
 
 
}

p{
  font-family: "Roboto", cursive;
}

h1 {
  margin: 0;
  font-weight: 800;
  font-size:nth($font-size-1, 4);
  }


aside {
  margin: 20px 0 0 18px
}