@use "../utiles/mixins.scss";

$font-s:" Shrikhand", sans-serif;
$couleur-primaire: #9356DC;


/*fonctionement*/

.fonction {
    @extend %flex-betwen;
    flex-direction: column;
    @include mixins.desktop {
        flex-direction: row;
        width: 100%;
        height: 126px;
    }



    .bouton {

        @include mixins.bouton-fonction;
    }

    .font {
        font-weight: 600;
    }


    .numero {
        border-radius: 50%;
        border: 1px solid $couleur-primaire;
        background-color: $couleur-primaire;
        padding: 3px 7.5px 2px 6.5px;
        color: white;
        position: absolute;
        left: -11px;
        top: 20px;

    }

    .fas {
        text-align: end;
        width: 35px;
        margin-right: 21px;
        margin-left: 10px;
        color: grey;
        font-size:18px;
    }
}