$background-color-6: #f6f6f6;
$color: #8f9195;

/*résérvation*/
.résérvation {
    padding: 2rem;
    text-align: center;
    background-color: $background-color-6;

    & h1 {
        margin: 0;
        font-weight: 800;
        font-size: 1.3rem;
       

    }
    
    & p {
        font-weight: 400;
        font-size: 1rem;
        color: $color;
    }
}