$couleur-primaire: #9356DC;
$couleur-secondaire: #FF79DA;
$couleur-tertiaire: #99E2D0;
$background-color-1: linear-gradient(178deg, #FF79DA, #9356DC);
$color-greylight:  #FFF;
$background-color-2: #f4f4f5;
$color-initial:  #000;
$background-color-3: #f2eafb;
$background-color-4: #FAFAFA;