$background-color-2: #f4f4f5;
$background-color-1: linear-gradient(178deg, #FF79DA, #9356DC);
$background-color-3: #f2eafb;
$background-7: linear-gradient(200deg, #9356DC 35%, #FF79DA 65%);
$couleur-tertiaire: #99E2D0;
$color-white: white;
$breakpoints:(desktop:992px);
$font-size-1: 0.95rem 1rem 1.15rem 1.3rem 1.5rem 1.48rem  ;
$font-size-2: 14px 15px 16px 17px 18px 19px 20px 23px 25px 27px;
@use "../bases/typographie.scss";



@mixin desktop {
    @media screen and (min-width:map-get($breakpoints, desktop)){ 
        @content   
    }
    }
    

@mixin hover {
    transform: scale(1.03);
}

@mixin box-shadow-fonction {
    box-shadow: 0px 5px 10px 0px #e8e8e8;

}

@mixin box-shadow {
    box-shadow: 0px 5px 10px 0px #c6c6c6;
}

@mixin bouton-explore {
    height: 50px;
    width: 220px;
    display: block;
    margin: 35px auto;
    border-radius: 25px;
    font-size: nth($font-size-1, 1);
    @include box-shadow;
    background: $background-color-1;
    color: #FFF;
    border: none;
    transition: 200ms;
    font-weight: 500;
    cursor: pointer;

    &:hover {
        @include hover;
        opacity: 0.9;
    }
}

@mixin bouton-fonction {

    width: 91%;
    height: 75px;
    position: relative;
    margin: 10px 0 10px 12px;
    padding: 0;
    border-radius: 20px;
    @include box-shadow-fonction;
    background-color: $background-color-2;
    font-size:nth($font-size-1, 2);
    text-align: start;
    color: #000;
    font-family: "Roboto", sans-serif;
    
    @include desktop{
        width: 28%;
        flex-direction: row;
    } 
    
    transition: 200ms;
    border: none;
    font-weight: 500;
    &:hover {
        @include hover;
        opacity: 0.9;

        .fas {
            color: #9356DC;
        }

        background-color:$background-color-3;


    }
}

@mixin coeur {
    position: absolute;
    right: 24px;
    bottom: 20px;

    &:hover {
        cursor: grab;
    }

    /* coeur vide */
    &--vide {
        padding: 13px 12.5px 12px 12.8px;
        font-size:nth($font-size-1, 6);
    }
    &_filtre {

        position: absolute;
        right: 0px;
        top: 0px;

        /* coeur plein */
        &--plein {

            padding: 12px 11px 12px 13px;
            font-size: nth($font-size-1, 5);
            color: transparent;
            opacity: 0;
            transform-origin: 50% 50%;
            transform: scale(0);
            background: $background-7;
            background-clip: text;
            -webkit-background-clip: text;


        }

    }
}

@mixin check-rotate {

    @keyframes rotate {
        0% {

            transform: rotate(360deg);
            margin-top: 20px;
        }

        100% {
            transform: rotate(0);
            margin-top: 00px;
        }
    }
}



/*animation coeur */
@mixin coeur-effece-bat {
    @keyframes efface {
        90% {
            opacity: 1;
        }

        100% {
            opacity: 0;
        }
    }

    @keyframes grandi-bat {
        0% {
            transform: scale3d(0, 0, 1);
        }

        33% {
            transform: scale3d(1, 1, 1);
        }

        38% {
            transform: scale3d(1, 1, 1);
        }

        43% {
            transform: scale3d(1, 1, 1);
        }

        48% {
            transform: scale3d(1, 1, 1);
        }

        53% {
            transform: scale3d(1.4, 1.4, 1);
        }

        58% {
            transform: scale3d(1.05, 1.05, 1);
        }

        63% {
            transform: scale3d(1.2, 1.2, 1);
        }

        68% {
            transform: scale3d(1, 1, 1);
        }

        73% {
            transform: scale3d(1, 1, 1);
        }

        78% {
            transform: scale3d(1, 1, 1);
        }

        83% {
            transform: scale3d(1.4, 1.4, 1);
        }

        88% {
            transform: scale3d(1.05, 1.05, 1);
        }

        95% {
            transform: scale3d(1.2, 1.2, 1);
        }

        100% {
            transform: scale3d(1, 1, 1);
        }
    }
}

@mixin menu_resto {

    @extend %flex-evenly;


    @include desktop {
        flex-direction: row;

    }
}
@mixin menu-entree {
    @extend %flex-evenly;
    margin-bottom: 42px;

    @include desktop {
        width: 30%;
    }

    & span {
        margin-left: 16px;
        position: relative;
        margin-bottom: 10px;

        &:after {

            content: '';
            width: 42px;
            height: 3px;
            background: $couleur-tertiaire;
            position: absolute;
            z-index: 20;
            left: 0px;
            bottom: -8px;

        }
    }

    &--carte {
        border-radius: 15px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin: 13px 10px 0px 10px;
        height: 64px;
        background-color: $color-white;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        @include box-shadow;
        animation: Appear 1s;
        animation-fill-mode: both;
        transform: scale(0);

        .premier-plat {
            height: 87px;
        }


        &:hover {

            cursor: pointer;


            .prix {
                padding-right: 13px;
            }

            .chek {
              
                padding: 19px 47px 20px 20px;

                & i {
                    margin-top: 0;
                    transform: rotate(360deg);
                }
            }
            .marg{
                padding-top: 30px;
            }
        }
       

        .prix_chek {
            display: flex;
            height: 100%;
        }

        .prix {
            position: relative;
            padding: 34px 9px 10px;
            padding-right: 19px;
            padding-left: 9px;
            font-weight: 500;
        }

        .chek {
            transition: padding 0.5s;
            margin-right: -24px;
          
            height: 100%;
            border-radius: 0 15px 15px 0;
            background-color: $couleur-tertiaire;
            


            & i {
                transform: rotate(0deg);
                transition: all 0.5s;
                color: $color-white;
                font-size:nth($font-size-2, 8);
                margin-top: 20px;
            }

        }

        .discription {
            padding: 9px 0px 10px 16px;
            overflow: hidden;

            h3,
            p {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                margin: 0px;
            }
           

        }


    }

}