$couleur-primaire: #9356DC;
$couleur-secondaire: #FF79DA;
$couleur-tertiaire: #99E2D0;
$background-color-1: linear-gradient(178deg, #FF79DA, #9356DC);
$background-7: linear-gradient(200deg, #9356DC 35%, #FF79DA 65%);
$color-greylight:  #FFF;
$background-color-2: #f4f4f5;
$color-initial:  #000;
$background-color-3: #f2eafb;
$background-color-4: #FAFAFA;
$background-color-5: #e7e7e7;
$background-color-6: #f6f6f6;
$color-grey: #8f9195;
$color-white: white;