@use "../utiles/mixins.scss";

$background-color-6: #f6f6f6;



    .imgfont {
        width: 100%;
position:relative;
        @media (min-width:992px) {
            object-fit: cover;
            height: 36vh;
        }
        @media (min-width:768px) and (max-width:992px) {
            height: 60vh;
            object-fit: cover;
        }
    }

    .menu {
      position: relative;
        width: 100%;
       margin-top: -52px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        border-radius: 50px 50px 0 0;
        background-color: $background-color-6;
       
 .commander{
            margin-bottom: 28px;
            margin-top: -22px
        }

        button {

            @include mixins.bouton-explore;
            width: 165px;

        }
    }

    .menu_1 {
        position: relative;

        &_titre {
            font-family: "Shrikhand", cursive;
            font-size: 27px;
            margin: 27px;


        }


        &--selection {
            display: none;
            padding: 20px;
            font-size: 25px;
            cursor: pointer;

            &:checked+.coeur .coeur--vide {
                animation: efface 0.5s linear forwards;
            }

            &:checked+.coeur .coeur_filtre--plein {
                opacity: 1;
            }

            &:checked+.coeur .coeur_filtre--plein {
                opacity: 1;
                z-index: 1;
                animation: grandi-bat 1.8s linear forwards;
            }

        }

        &_coeur {
            .coeur {
                @include mixins.coeur;

            }

            /*animation coeur */
            @include mixins.coeur-effece-bat;
        }

    }

    .menu_resto {
        
        @include mixins.menu-resto;

        &_entree{
        
        @include mixins.menu-entree;
    
        }
        
        &_plat{
            @include mixins.menu-entree;
        }
    
        &_desserts{
            @include mixins.menu-entree;
        }
      
}
.le-délice{

    #delay-4
    {
height: 87px;
        padding: 0;

        .prix{
            padding: 56px 16px 10px
        } 
        .check:hover{
                padding: 30px 47px 30px 20px;

            }
           
        }     
  }

.la-note{
    .imgfont{
        object-fit: cover;
        height: 82vh; 
} 
  @media (min-width:992px) {
      .imgfont{
        height: 50vh;
      }
        .menu_resto_entree{
            margin-bottom: -34px;
        }
    }
    }

    .footer_menu {
      
        width: 100%;
       
        font-size: 20px;
    
    }


    
